[Unit]
Description=ComLake core server
After=network.target

[Service]
WorkingDirectory=/home/user/core
ExecStart=/usr/bin/lein run -- reload
Restart=on-failure

[Install]
WantedBy=default.target
