[Unit]
Description=RethinkDB server
After=network.target

[Service]
ExecStart=/usr/bin/rethinkdb -d /var/db/rethinkdb/default --no-http-admin
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/run/rethinkdb/default.pid
Restart=on-failure

[Install]
WantedBy=default.target
