[Unit]
Description=ComLake core server
After=network.target

[Service]
WorkingDirectory=%h/comlake.core
ExecStart=/usr/bin/lein run
Restart=on-failure

[Install]
WantedBy=default.target
